$cWhite: #fff;
$cBlack: #000;

$textGray: #667085;
$textGray2 :#98A2B3;
$textGray3 :#667085;

$bgLight: #FCFCFD;

$bgDark: #1D2939;
$bgLightHover: #f0f0f3;
$bgWhite: #F2F4F7;
$bgHeader: #dfdfdf;

$cRed: #ff0000